#container {
    margin:0; 
	padding:0;
	width: 10%;
    padding-left: 10% ;
    position: relative;
}


body {

    font: 18px Arial, sans-serif;
	line-height: 32px;
	background-color: #777;
	margin:0px; 
	padding:0px; 
	
}

h1 {
	background: #ebebeb;
	padding: 20px;
	margin-bottom: 10px;
	color: #777;
    font: 18px Arial, sans-serif;
}
section {
	padding: 10px;
	background: #777;
	margin-bottom: 20px;
    margin-top: 20px;
	color: #fff;
}

#left {
	float: left;
	width: 496px;
	background: #ebebeb;
	color: #777;
	height: auto;
	margin-right: 10px;
	padding-top: 20px;
}

article {
	
    padding: 6px;
	background: #ebebeb;
	color: #777;
	margin: 10px;
	
    
}

#p {
  
	padding-top: 10px;
	background: #ebebeb;
	margin-bottom: 10px;
    color: #777;
  
}

#full {
	clear: both;
	width: 960px;
	background: #777;
	overflow: auto;
    text-align: center;
    
}

.clear {
	clear: both;
}
  
  aside {
	width: 420px;
	margin-left: 10px;
	background: #ebebeb;
	float: right;
	color: #777;
	padding-top: 20px;
	height: 252px;
	margin-top: 20px;
}

footer {
	background: #ebebeb;
	padding: 20px;
	clear: both;
    color: #777;
}
